@{
    ViewData["Title"] = "Alternative Suggestion";
    int workoutId1 = 0;
    int workoutId2 = 0;
    int workoutId3 = 0;
    float totalDuration1 = 0;
    float totalCalories1 = 0;
    float totalDuration2 = 0;
    float totalCalories2 = 0;
    float totalDuration3 = 0;
    float totalCalories3 = 0;
}
<style>
    .other-workout-card:not(:first-of-type) {
        margin-left: 20px;
    }

    .other-workout-card {
        width: 400px;
        flex-direction: column;
        display: flex;
        align-items: center;
        border: #6378c2;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
        padding: 10px 0px;
    }

    .list-group-item {
        width: 350px;
        text-align: center;
    }

        .list-group-item span {
            color: #838691;
            width: 100px;
            justify-content: space-between;
        }

    .btn {
        width: 150px;
        background-color: #6378c2;
    }

    .back-btn {
        width: 90px;
        background-color: #fff;
    }

    .header span {
        color: #6378c2 !important;
        width: 100px;
        justify-content: space-between;
    }

    .list-group {
        height: 210px;
        max-height: 210px;
        overflow: scroll;
    }

        .list-group::-webkit-scrollbar {
            display: none;
        }

    .list-group {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
</style>

<a href="#" id="backtoHomepage" class="btn back-btn d-flex align-items-center justify-content-between mb-5"><i class="fas fa-arrow-left"></i>Back</a>
<div class="card  d-flex p-4 py-4">
    <div class="row ">
        <div class="col-md-4 other-workout-card">
            <h4 class="card-title h4">Workout 1</h4>
            <ul class="list-group my-4">
                <li class="list-group-item d-flex justify-content-between header">
                    <b style="flex:1"><span>Exercise</span></b>
                    <b style="flex:1"><span>Duration</span></b>
                    <b style="flex:1"> <span>Burn</span></b>
                </li>
                @foreach (var item in ViewBag.Workout1)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span style="flex:1" class="exercise-name">@item.ExerciseName</span>
                        <span style="flex:1" class="exercise-duration ">@item.TotalTime minutes</span>
                        <span style="flex:1" class="exercise-burn">@item.TotalBurn calories</span>
                    </li>
                    totalDuration1 += item.TotalTime;
                    totalCalories1 += item.TotalBurn;
                    workoutId1 = item.WorkoutId;
                }
                <li class="list-group-item d-flex justify-content-between">
                    <b style="flex:1"><span>Total</span></b>
                    <b style="flex:1"><span>@totalDuration1 mins</span></b>
                    <b style="flex:1"><span>@totalCalories1 cal </span></b>
                </li>

            </ul>
            <button href="#" class="btn btn-primary select" workoutId="@workoutId1">Select</button>
        </div>

        <div class="col-md-4 other-workout-card">
            <h4 class="card-title ">Workout 2</h4>
            <ul class="list-group my-4">
                <li class="list-group-item d-flex justify-content-between header">
                    <b style="flex:1"><span>Exercise</span></b>
                    <b style="flex:1"><span>Duration</span></b>
                    <b style="flex:1"> <span>Burn</span></b>
                </li>
                @foreach (var item in ViewBag.Workout2)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span style="flex:1" class="exercise-name">@item.ExerciseName</span>
                        <span style="flex:1" class="exercise-duration">@item.TotalTime mins</span>
                        <span style="flex:1" class="exercise-burn">@item.TotalBurn cal</span>
                    </li>
                    totalDuration2 += item.TotalTime;
                    totalCalories2 += item.TotalBurn;
                    workoutId2 = item.WorkoutId;
                }
                <li class="list-group-item d-flex justify-content-between">
                    <b style="flex:1"><span>Total</span></b>
                    <b style="flex:1"><span>@totalDuration2 mins</span></b>
                    <b style="flex:1"><span>@totalCalories2 cal </span></b>
                </li>
            </ul>
            <button href="#" workoutId="@workoutId2" class="btn btn-primary select">Select</button>
        </div>

        <div class="col-md-4 other-workout-card">
            <h4 class="card-title ">Workout 3</h4>
            <ul class="list-group my-4">
                <li class="list-group-item d-flex justify-content-between header">
                    <b style="flex:1"><span>Exercise</span></b>
                    <b style="flex:1"><span>Duration</span></b>
                    <b style="flex:1"> <span>Burn</span></b>
                </li>
                @foreach (var item in ViewBag.Workout3)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span style="flex:1" class="exercise-name">@item.ExerciseName</span>
                        <span style="flex:1" class="exercise-duration">@item.TotalTime mins</span>
                        <span style="flex:1" class="exercise-burn">@item.TotalBurn cal</span>
                    </li>
                    totalDuration3 += item.TotalTime;
                    totalCalories3 += item.TotalBurn;
                    workoutId3 = item.WorkoutId;
                }
                <li class="list-group-item d-flex justify-content-between">
                    <b style="flex:1"><span>Total</span></b>
                    <b style="flex:1"><span>@totalDuration3 mins</span></b>
                    <b style="flex:1"><span>@totalCalories3 cal </span></b>
                </li>
            </ul>
            <button href="#" workoutId="@workoutId3" class="btn btn-primary select">Select</button>

        </div>
    </div>
</div>
<script>
    $(function () {
        $("#alternativeSuggestion").on("click", function () {
            //validaitons
            $.ajax(
                {
                    url: "/Suggestion/GetSuggestions",
                    type: "GET",
                    success: function (response) {
                        debugger;
                        //populate the data in the table
                        $("#suggestionWindow").html(response);

                    }
                });

        });

        $("#backtoHomepage").on("click", function () {
            $.ajax(
                {
                    url: "/Home/HomePage",
                    type: "GET",
                    success: function (response) {
                        debugger;
                        //populate the data in the table
                        $("#main-body").html(response);

                    }
                });
        });

        $(".select").on("click", function () {
            debugger;
            var workoutId = $(this).attr('workoutId');
            $.ajax(
                {
                    url: "/Suggestion/saveSuggestion",
                    method: "POST",
                    data: { workoutId: workoutId },
                    success: function (res) {
                        alert("Enjoy Working Out!");
                        //back to homepage
                        $.ajax(
                            {
                                url: "/Home/HomePage",
                                type: "GET",
                                success: function (response) {
                                    debugger;
                                    //populate the data in the table
                                    $("#main-body").html(response);

                                }
                            });
                        //$("#main-body").html(res);
                    }
                })
        });
    });
</script>
